@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body 
{
	background-color: #5ADF25;
}
h1
{
	text-align: center;
	text-transform: uppercase;
	line-height: 5rem;
	text-decoration: underline;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}

.testimonals
{
	padding: 70px 0;
	color: #434343;
	text-align: center;
}

.inner-box
{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.row-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5%;
}

.column-container
{
   flex: 33.33%;
   max-width: 33.33%;
   box-sizing: border-box;
   padding: 15px;

}

.testimonal
{
	background: #fff;
	padding: 30px;
}

.testimonal img
{
	border-radius: 50%;
}


p
{
	font-family: 'Noto Sans', sans-serif;
}
.user-name
{
	font-size: 1.2rem;
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	margin: 20px 0;
}

.checked
{
	color: gold;
	padding-top: 25px;
}


@media only screen and (max-width: 480px)
{
	.row-container
	{
		display: flex;
		flex-direction: column;
		margin-top: 15%;
	}

	.column-container
	{
		max-width: 100%
	}

	p 
	{
		text-align: justify;
	}
}

